$theme-color: #5f46ff;
$bg-color: #fff;
$inverse-color: #333;

@use "reset.css";

html,
body {
  font-family: "Varela Round", "PingFang SC", "Microsoft Sans Serif", sans-serif;
  background: $bg-color;
  color: $inverse-color;
  height: 100vh;
  overflow: hidden;
}

.app-wrap {
  padding: 20px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  overflow: auto;
  height: 100vh;
  -webkit-overflow-scrolling: touch;

  &.hasTextField {
    padding-bottom: 0;
    height: calc(100vh - 144px);
  }
}

a {
  color: $inverse-color;
  text-decoration-line: underline;
  text-decoration-color: $theme-color;
  text-decoration-thickness: 20%;
}

button {
  background: $theme-color;
  border: 1px solid darken($theme-color, 5%);
  color: #fff;
  font-size: 14px;
  border-radius: 20px;
  padding: 3px 15px;
  cursor: pointer;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);

  &:active {
    opacity: 0.8;
  }

  &.info {
    background: #374151;
    border: 1px solid #1f2937;
  }
}

code {
  border-radius: 3px;
  background: $bg-color;
  border: 1px solid #4b5563;
  padding: 5px;
  font-size: 12px;
}

input {
  width: 100%;
  border-radius: 3px;
  background: #171717;
  border: 1px solid #4b5563;
  font-size: 12px;
  line-height: 24px;
  text-indent: 5px;
  color: #ffffff;
}

.status-bar {
  width: 100%;
  height: 30px;
  font-size: 10px;
  color: #353b44;
  background: $bg-color;

  .wrap {
    width: 100%;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    line-height: 26px;
    .offline {
      color: red;
    }

    .online{
      color: green;
    }
  }
}

.text-field {
  background: $bg-color;
  width: 100%;
  max-width: 500px;
  height: 62px;
  margin: 0 auto;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  .attach-file {
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    font-size: 12px;
    padding: 0;
    flex-shrink: 0;
    margin-right: 10px;

    label {
      width: 36px;
      height: 36px;
      border-radius: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 7px;
    }

    img {
      transform: translateX(-1px);
    }
  }

  .send-message {
    width: 36px;
    height: 36px;
    border-radius: 36px;
    font-size: 12px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-left: 10px;
    cursor: pointer;

    img {
      transform: translateX(2px);
    }
  }

  #file {
    position: fixed;
    left: -9999px;
    height: 0;
    border: none;
    pointer-events: none;
  }

  textarea {
    box-sizing: border-box;
    border: none;
    margin: 0 auto;
    outline: none;
    width: calc(100% - 52px);
    max-width: 500px;
    display: block;
    background: darken($bg-color, 10%);
    border-radius: 6px;
    font-size: 12px;
    height: 52px;
    color: $inverse-color;
    resize: none;
    padding: 5px 10px;
  }
}

.chat-field {
  .message-item {
    width: 100%;
    font-size: 13px;
    margin-bottom: 4px;
    animation: newMessage 0.4s ease;

    span {
      display: inline-block;
      padding: 4px 13px;
      background: darken($bg-color, 10%);
      border-radius: 20px;
      max-width: 80%;
      word-break: break-word;

      &.img {
        padding: 5px;
        border-radius: 12px;
        text-align: center;
        line-height: 1;

        svg {
          display: inline-block;
          fill: #ffffff;
        }
      }

      &.file {
        padding: 10px;
        border-radius: 12px;
        text-align: center;

        svg {
          display: inline-block;
          fill: #ffffff;
        }
      }

      &.media {
        padding: 10px;
      }
    }

    img {
      max-width: 100%;
      border-radius: 6px;
      min-height: 30px;
      min-width: 60px;
    }

    video {
      max-width: 100%;
      border-radius: 6px;
      min-height: 30px;
      min-width: 60px;
      display: block;
      margin-top: 10px;
    }

    audio {
      margin-top: 10px;
      display: block;
    }

    &.system {
      background-color: transparent;
      font-size: 12px;

      &.g {
        span {
          color: green;
        }
      }

      &.i {
        span {
          color: #444444;
        }
      }

      &.w {
        span {
          color: #be5514;
        }
      }

      &.l {
        span {
          text-align: left;
        }
      }

      span {
        display: block;
        background: transparent;
        width: 100%;
        max-width: 100%;
        padding: 4px 0;
        text-align: center;
        color: #666;
      }
    }

    &.out {
      text-align: right;

      span {
        background: $theme-color;
        color: $bg-color;
        text-align: left;

        &.file {
          text-align: center;
        }
      }
    }
  }
}

.file-upload {
  position: fixed;
  z-index: 2001;
  width: 100vw;
  height: 100vh;
  background: rgba(#fff, .7);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  top: 0;
  left: 0;

  .title {
    margin-top: 30px;
    text-align: center;
  }

  .img {
    width: 100%;
    text-align: center;
    max-width: 100vw;
    max-height: 550px;
    margin: 20px auto;

    img {
      display: inline-block;
      max-width: 500px;
      max-height: 400px;
    }

    .name {
      margin-top: 10px;
      font-style: italic;
      text-align: center;
      line-height: 1.6;
      font-size: 12px;
    }

    .process {
      margin-top: 10px;
      text-align: center;
      line-height: 1.6;
      font-size: 12px;
    }
  }

  .buttons {
    text-align: center;
    padding: 10px 0;

    button {
      margin: 0 5px;
    }
  }
}

.hiddenLinks {
  position: fixed;
  left: -9999px;
  height: 0;
}

@keyframes newMessage {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: $bg-color;
}

::-webkit-scrollbar-thumb {
  background: darken($bg-color, 15%);
}

::-webkit-scrollbar-thumb:hover {
  background: darken($bg-color, 20%);
}


@import 'dark';
